body {
    font: 18px/30px helvetica, sans-serif;
}


.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    margin: 0 auto;
    background-color: rgba(255,0,255, 0.4);
}

#profile {
    float: left;
    margin-right: 10px;
}
